{{ define "main" }}

<h1 class="scramble-text" data-value="# Blog">_</h1>
<p style="opacity: 0.7; margin-bottom: 2rem;">這裡放了我的攝影集與其他文章。</p>
 <div class="profile-header">
            <div class="banner-box">
                <img src="/img/2025_08_19_02_17_A7C04754.JPG" class="banner-img" alt="Banner">
            </div>

            <div class="profile-info-container">
                <div class="avatar-wrapper">
                    <img src="/img/A7C07542.JPG" alt="Profile" class="main-avatar">
                </div> 
                <div class="text-content">
                    <h1 class="user-id">@ Hundred_layman<span class="real-name"></span></h1>
                    <p class="user-tags">Street Photography</p>
                    <p class="typing-text">“百隅十哉。羊川草齋。遊戲人間”</p>
                </div>
            </div>
    </div>
    <section class="section">
        <p class="user-tags"># Sony A7C</p>
        <p class="user-tags"># DSC-T20</p>
    </section>
    <section class="section">
        <h3>2025</h3>
    </section>

{{ end }}